.App {
  text-align: center;
  margin: 0;
  background-color: violet;
}

.movie-grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}


.movie-grid-container>div {
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-grid-container img {
  max-width: 100px;
  height: auto;
}

.code {
  font-family: monospace;
}

.AddMovie {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;


}

.MovieDetails {
  display: flex;
  align-items: center;
  width: 100%;
}